{% extends 'methodical_bank/base.html' %}

{% block content %}
    <h3>Уважаемые преподаватели!</h3>
    <p>Раздел предназначен для обмена педагогическим опытом, на сайте уже выложены курсы наших преподавателей,
        предлагаем и вам поделиться ценным опытом, своими курсами, системами упражнений, методиками занятий. Чем больше
        мы будем обмениваться нашими знаниями, тем плодотворней будет наш труд и значительней успехи!</p>
    <p><span class="italic">Отправляйте свои материалы по адресу:</span> profportal@mail.ru</p>
    <p>Ниже выложены наработки наших преподавателей и коллег.</p>
    <ul class="works">
        {% for obj in object_list %}
            <li>
                <a href="{{ obj.get_absolute_url }}">{{ obj.name }}</a>
                <span>Автор курса: {{ obj.author }}</span>
            </li>
        {% endfor %}
    </ul>
    </div>
{% endblock %}