{% extends 'methodical_bank/base.html' %}
{% load flatblock_tags %}

{% block content %}
    {% flatblock "Методическая копилка" %}
    {% if object_list %}
    <p>Ниже выложены наработки наших преподавателей и коллег.</p>
    <ul class="works">
        {% for obj in object_list %}
            <li>
                <a href="{{ obj.get_absolute_url }}">{{ obj.name }}</a>
                <span>Автор курса: {{ obj.author }}</span>
            </li>
        {% endfor %}
    </ul>
    </div>
    {% else %}
        <h3>Не добавлено ни одного методического материалы</h3>
    {% endif %}
{% endblock %}
