{% extends 'play_and_learn/professions/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="current_letter left">
        <div>
            <img src="{% static 'main/img/' %}{{ letter.get_image_name }}">
        </div>
        <span class="back_to_list">
            <a href="{% url 'play_and_learn.letter_list' %}">Вернуться к алфавиту</a>
        </span>
    </div>
    <div class="profession_list left">
        <h3>Профессии на букву «{{ letter.letter.upper }}»</h3>
        <ul>
            {% for profession in letter.professionsabc_set.all %}
                <li>
                    <span class="profession">{{ profession.name }}</span>
                    <span>{{ profession.description|safe }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
