{% extends 'play_and_learn/professions/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="flag">
        <span class="italic">Ребята!
 Если вы уже знаете буквы и умеете читать, то эта книга для вас! А если вы ещё не научились читать, то приглашаем вас в путешествие по страницам этой замечательной книгой вместе с родителями!</span>
    </div>
    <div class="letters">
        {% for letter in letters %}
            <div>
                <a href="{{ letter.get_absolute_url }}">
                    <img alt="{{ letter }}" src="{% static 'main/img/' %}{{ letter.get_image_name }}">
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

