{% extends 'your_choice/base.html' %}

{% block content %}
    <div class="description">

        <div class="bordering">
            <img src="{{ profession.image.url }}">
        </div>
        <h3>{{ profession.name }}</h3>

        <p><span class="profession">Общая характеристика професии:</span>{{ profession.characteristic }}</p>

        <p><span class="profession">Содержание труда:</span> {{ profession.content }}</p>

        {% if profession.ability %}
        <p><span class="profession">Требования к индивидуальным способностям специалиста:</span></p>
        <ul>
            {% for ability in profession.ability.all %}
            <li>
                <span>{{ ability }}</span>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if profession.contraindications %}
        <p><span class="profession">Медицинские противопоказания:</span></p>
        <ul>
            {% for contraindication in profession.contraindications.all  %}
            <li>
                <span>{{ contraindication }}</span>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        <p>
            <span class="profession">Пути получения профессии:</span><br>
            {% for school in profession.school_set.all %}
            <a href="{{ school.get_absolute_url }}">{{ school }}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
        </p>
    </div>
    {% if rest_professions %}
    <div class=" all_professions">
        <p><span class="profession">Остальные профессии:</span></p>
        <ul>
            {% for profession in rest_professions %}
            <li>
                <a href="{{ profession.get_absolute_url }}">{{ profession }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endblock %}