{% extends 'your_choice/base.html' %}
{% load thumbnail %}
{% load flatblock_tags %}

{% block content %}
    {% flatblock "Твой выбор" %}
    {% if professions %}
        <h3>Список профессий:</h3>
        <div class="exercises">
            {% for profession in professions %}
                <a class="exercise" href="{{ profession.get_absolute_url }}">
                    {% thumbnail profession.image "189x189" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{{ profession.name }}
                    {% endthumbnail %}
                </a>
            {% endfor %}
        </div>
    {% else %}
        <h3>Не добавлено ни одной профессии</h3>
    {% endif %}
{% endblock %}
