{% extends 'your_choice/base.html' %}

{% block content %}
    <p>В условиях современного общества острое социально-экономическое значение имеет проблема трудоустройства лиц с
        ограниченными
        возможностями здоровья. В связи с этим особый интерес представляет профессиональная ориентация детей и
        подростков с ограниченными
        возможностями здоровья, поскольку именно в этом возрасте закономерно поставлен вопрос выбора своего жизненного
        пути.</p>
    <p>Выбор профессии сложен для любого подростка, задача данного раздела - помочь ребятам и их родителям подобрать
        профессию,
        отвечающую интересам и возможностям ребенка.</p>
    <p>Здесь мы собрали информацию о наиболее актульных для детей с ОВЗ профессиях, подробные описания, требования и
        список
        учебныч заведений, обучающих этим профессиям.</p>
    <h3>Список профессий:</h3>
    <div class="exercises">
        {% for profession in professions %}
        <a class="exercise" href="{{ profession.get_absolute_url }}">
            <img src="{{ profession.image.url }}">{{ profession.name }}
        </a>
        {% endfor %}
    </div>
{% endblock %}