{% extends 'main/base.html' %}

{% block content %}
    <p>Дети с ограниченными возможностями здоровья – это дети от 0 до 18 лет, а так же молодежь старше 18 лет,
        имеющие временные или постоянные нарушения в физическом и (или) психическом развитии и нуждающиеся в
        создании
        специальных условий для получения образования.
    </p>

    <p>Наш портал создан для помощи подросткам в выявлении их профессиональных интересов, в определении будущей
        сферы их деятельности,
        а в ней конкретного перечня профессий, отвечающих интересам, склонностям, возможностям и состоянию здоровья
        каждого из них.</p>

    <p>Наш портал создан для помощи подросткам в выявлении их профессиональных интересов, в определении будущей
        сферы их деятельности,
        а в ней конкретного перечня профессий, отвечающих интересам, склонностям, возможностям и состоянию здоровья
        каждого из них.</p>

    <p class="italic">Мы постарались собрать всю самую полезную информацию, касающуюся профессиональной ориентации
        подростков
        с ограниченными возможностями на нашем сайте. Добро пожаловать! Надеемся, ресурс будет Вам полезен!</p>

    <p>Вся полезная информация рассортирована по соответсующим разделам, вы можете ознакомиться с их кратким
        содержанием: </p>

    <p class="italic">Желаем приятного путешенствия по нашему сайту! Все предложения,
        пожелания и вопросы ждем в разделе <a href="#">Гостевая книга</a></p>

    <p>Портал подготовлен преподавателями школы № 14, Ивановой Анной Сергеевной,
        Владимировой Валентиной Николаевной, Константиновой Марией Ивановной.</p>

    <p>Благодарим за помошь: ООО «Контора» в лице Сергеева Валентина Михайловича</p>
{% endblock %}