{% extends 'schools/base.html' %}
{% load flatblock_tags %}

{% block content %}
    {% flatblock "Учебные заведения" %}
    {% if schools %}
        <h5>
      <div>
            {% for school in schools %}
                <a class="college" href="{{ school.get_absolute_url }}">
                    <div class="inner_block">
                        <span class="profession">{{ school.name }}</span>
                        <span>Обучает профессиям:</span>
                        <ul>
                            {% for profession in school.professions.all %}
                                <li>
                                    <span>{{ profession }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <h3>Не добавлено ни одного учебного заведения</h3>
    {% endif %}
{% endblock %}
