{% extends 'schools/base.html' %}

{% block content %}
    <h4>Учебные заведения</h4>
        <p>В этом разделе вы сможете познакомиться с подробным описанием учебныч заведений, узнать где обучают интересным вам профессиям
            и найти контактную информацию и прочитать об условияч поступления в то или иное образовательное учреждение.</p>
        <p>Также предлагаем ознакомится с общей информацией об образовании: в красноярске множество техникумов и колледжей. В российской
            системе образования колледж является образовательным учреждением среднего профессионального образования и фактически является
            синонимом слова «техникум». Разница в понятиях «колледж» и «техникум» определена в Типовом положении об образовательном
            учреждении среднего профессионального образования (среднем специальном учебном заведении), утверждённом Постановлением
            Правительства Российской Федерации. Приём в колледж ведётся на основании аттестата об основном общем образовании (9 классов),
            аттестата о среднем (полном) общем образовании (11 классов), диплома о начальном профессиональном образовании
            (обычно ПТУ или профессионально-технический лицей) или диплома о среднем профессиональном образовании. Среднее специальное
            образование в Российском колледже может быть получено после среднего общего образования за 2 — 3 года (не более трёх лет),
            в зависимости от специальности, а после 9 класса средней школы не более 4 лет.</p>
        <h5>Мы подготовили список наиболее подходящих для ребят с ограниченными возможностями образовательных учреждений,
            предлагаем ознакомиться с ними подробнее:</h5>
        <div>
            {% for school in schools %}
            <a class="college" href="{{ school.get_absolute_url }}">
                <div class="inner_block">
                    <span class="profession">{{ school.name }}</span>
                    <span>Обучает профессиям:</span>
                    <ul>
                        {% for profession in school.professions.all %}
                        <li>
                            <span>{{ profession }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </a>
            {% endfor %}
        </div>
{% endblock %}