<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <header>
            <nav>
                {% for item in request.navbar %}
                    <a class="{% if item.name == request.navbar_active %}active {% endif %}" href="{{ item.url }}">{{ item.description }}</a>
                {% endfor %}
            </nav>
        </header>
        {% block breadcrumb %}
            <h2>Хлебные крошки</h2>
            <div class="breadcrumb">
                {% for breadcrumb in request.breadcrumbs %}
                    <a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a>{% if not forloop.last %} &raquo; {% endif %}
                {% endfor %}
            </div>
        {% endblock %}
        {% block page %}
        {% endblock %}
    </body>
</html>
